<div class="post card">
  <div class="head-block">
    <h2>Start A New Post</h2>
  </div>
  <form id="new-post-form" class="cardC-body">
    <label class="userform-label" for="post-title">title</label>
    <input type="text" name="post-title" class="form-input" />

    <label class="userform-label" for="post-body">Content</label>
    <textarea name="post-body" class="form-input"></textarea>

    <button type="submit" class="btn">Post Created</button>
  </form>
</div>

<script src="/js/newPost.js"></script>